body {
    margin: 0px;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_list {
    list-style: none;
    padding: 5px 0 5px 0;
    gap: 1em;
}

.nav_hidden {
    display: none;
    padding: 0 1em 1em 0;
}

.nav_show {
    display: inline;
    padding: 0 1em 1em 0;
}

.light_mode {
    color: black;
    background-color: white;
}

.dark_mode {
    color: white;
    background-color: black;
}